@import '../../../sass/vars.scss';

.article-utils {
  display: grid;
  grid-template-columns: 165px auto 90px;

  .stats {
    display: flex;

    &__item {
      height: 40px;
      display: inline-flex;
      align-items: center;
      color: gray;
      // relative positioning allows tooltip to show up?
      position: relative;

      &:hover .mat-icon-btn__tooltip {
        visibility: visible;
      }

      &-counter {
        display: block;
        margin-left: 5px;
        font-size: 0.9rem;
      }

      &_clickable {
        cursor: pointer;
      }

      mat-icon {
        height: 1.2em;
      }

      @media screen and (min-width: 500px) {
        mat-icon {
          height: 1.5em;
        }
      }
    }

    &__icon {
      height: auto;
      width: auto;
      font-size: 1.2rem;
      color: gray;

      @media screen and (min-width: 500px) {
        font-size: 1.5rem;
      }
    }

    &__left {
      display: flex;

      .stats__item {
        margin-left: 10px;
      }
    }
    &__right {
      display: flex;
      justify-content: flex-end;

      .stats__item {
        margin-right: 10px;
      }
    }
  }

  .highlighted {
    color: #ffd80e;
  }
}
