@import '../../../../sass/vars.scss';

section {
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: border 0.5s;
  padding: 2px;

  &:hover,
  &.border {
    border: 1px solid $accent-color-1;
  }

  button {
    visibility: hidden;
    position: absolute;
    right: 15px;
    bottom: 15px;

    &.active {
      visibility: visible;
    }
  }
  &:hover button {
    visibility: visible;
  }
}
