<section class="article-cover-image" (cosClickOut)="clickOut()">
  <cos-cover-image-display
    [imageAlt]="imageAlt"
    [imageUrl]="imageUrl"
  ></cos-cover-image-display>
  <cos-cover-image-edit></cos-cover-image-edit>
  <!-- <cos-cover-image-display
  [coverImageUrl]="articleState.imageUrl"
  [imageAlt]="articleState.imageAlt"
  [isCtrlActive]="isCtrlActive(CtrlNames.coverImage)"
  (onCtrlToggle)="toggleCtrl(CtrlNames.coverImage)"
></cos-cover-image-display> -->
  <!-- <cos-cover-image-edit
  [isCtrlActive]="isCtrlActive(CtrlNames.coverImage)"
  [shouldAbort]="shouldAbortTempCoverImage"
  [parentForm]="articleEditForm"
  (onCoverImageSelected)="onSelectCoverImage($event)"
></cos-cover-image-edit> -->
</section>
