<main>
  <h1>Welcome to CoSourcery!</h1>
  <h3>Thanks for visiting. Please Participate!</h3>
  <p>
    Tap or hover any section below to bring up the purple edit button then click
    it to edit that section. Save when you're done. It's that simple! You can
    create an article by clicking the same button in the upper right of the
    page.
  </p>
  <p>
    You'll always see this dialog if you're not logged in. Feel free to log in
    or register using the buttons below, or just close this dialog and continue
    reading.
  </p>

  <i
    >If you register, your personal info will be safe and we promise we'll never
    share your contact info or sign you up for spam.</i
  >
  <section class="buttons">
    <button (click)="onContinue()" class="cos-btn">Continue Reading</button>
    <button (click)="onLogin()" class="cos-btn">Login</button>
    <button (click)="onRegister()" class="cos-btn">Register</button>
  </section>
</main>
