<section #formBoundingBox class="article-form" *ngIf="articleVersionState">
  <!-- MAIN IMAGE -->
  <cos-cover-image
    [imageUrl]="articleVersionState.imageUrl"
    [imageAlt]="articleVersionState.imageAlt"
  >
  </cos-cover-image>
  <!-- end main image -->

  <!-- HEADER SECTION -->
  <section class="article-header">
    <!-- TITLE -->
    <cos-title [title]="articleVersionState.title"> </cos-title>

    <!-- DATE -->
    <p class="article-date">
      <span *ngIf="isArticleNew"
        >Current Date: {{ tempTimestamp().toDate() | date }}</span
      >
      <span *ngIf="!isArticleNew"
        >Last Updated: {{ articleVersionState.lastUpdated | date }}</span
      >
    </p>

    <!-- INTRO -->
    <cos-intro [introduction]="articleVersionState.introduction"> </cos-intro>

    <!-- STATS -->
    <cos-stats
      [commentCount]="articleVersionState.commentCount"
      [editCount]="articleVersionState.version"
      [tagsCount]="articleVersionState.tags.length"
      [articleId]="articleId"
    >
    </cos-stats>

    <!-- ATTRIBUTIONS -->
    <section class="article-attributions">
      <cos-contributors
        [creatorKey]="loggedInUser.uid"
        [editorMap]="articleVersionState.editors"
      >
      </cos-contributors>
    </section>
  </section>

  <!-- BODY and EDITOR -->
  <section
    #ckeditorBoundingBox
    class="article-body"
    [ngClass]="{
      'not-editable': !loggedInUser.uid || !isCtrlActive(ECtrlNames.body)
    }"
  >
    <cos-body
      [body]="articleVersionState.body"
      [articleId]="articleId"
    ></cos-body>

    <!-- TAGS UI -->
    <cos-tags [tags]="articleVersionState.tags"> </cos-tags>
    <!-- end tags ui -->

    <cos-comments
      *ngIf="articleVersionState && !isArticleNew"
      [articleId]="articleVersionState.articleId"
    >
    </cos-comments>
  </section>
</section>
