<cos-version-navigation
  *ngIf="articleId"
  [articleSlug]="articleSlug"
  [articleId]="articleId"
  [version]="versionId"
></cos-version-navigation>
<section class="article-form" *ngIf="articleVersionState">
  <!-- MAIN IMAGE -->
  <section class="cover-image-wrapper border-placeholder">
    <cos-cover-image-display
      [imageUrl]="articleVersionState.imageUrl"
      [imageAlt]="articleVersionState.imageAlt"
    ></cos-cover-image-display>
  </section>
  <!-- end main image -->

  <!-- HEADER SECTION -->
  <section class="article-header">
    <!-- TITLE -->
    <section class="title-wrapper border-placeholder">
      <cos-title-display [title]="articleVersionState.title">
      </cos-title-display>
    </section>

    <!-- DATE -->
    <p class="article-date">
      <span>Last Updated: {{ articleVersionState.lastUpdated | date }}</span>
    </p>

    <!-- INTRO -->
    <section class="intro-wrapper border-placeholder">
      <cos-intro-display
        [introduction]="articleVersionState.introduction"
      ></cos-intro-display>
    </section>

    <!-- STATS -->
    <cos-stats
      [commentCount]="articleVersionState.commentCount"
      [editCount]="articleVersionState.version"
      [tagsCount]="articleVersionState.tags.length"
      [articleId]="articleId"
    >
    </cos-stats>

    <!-- ATTRIBUTIONS -->
    <section class="article-attributions">
      <cos-contributors
        [creatorKey]="loggedInUser.uid"
        [editorMap]="articleVersionState.editors"
      >
      </cos-contributors>
    </section>
  </section>

  <!-- BODY and EDITOR -->
  <section class="article-body">
    <cos-body
      [body]="articleVersionState.body"
      [articleId]="articleId"
      [isEditable]="false"
    ></cos-body>

    <!-- TAGS UI -->
    <cos-tags [tags]="articleVersionState.tags"> </cos-tags>
    <!-- end tags ui -->
  </section>
</section>
