// Uses Global Default Styles in src/styles.scss
@import '../../sass/vars.scss';

.banner {
  display: none;

  &__title {
    color: $accent-color-1-dark;
    line-height: 1.5;
  }

  @media screen and (min-width: 500px) {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: $light-gray-50;
  }
}

.article-collections {
  background-color: #fdfdfd;
  .collection-text {
    margin: 24px 0 0;
    text-align: center;

    &_accent {
      color: $accent-color-1;
    }

    &_underline {
      color: $accent-color-1;
      text-decoration: underline;
    }
  }

  .article-grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 24px;
    justify-content: center;
    padding: 24px 0;

    @media screen and (min-width: calc(#{$preview-card-height} * 2 + 75px)) {
      grid-template-areas: 'a a';
    }

    @media screen and (min-width: calc(#{$preview-card-height} * 3 + 100px)) {
      grid-template-areas: 'a a a';
    }

    @media screen and (min-width: calc(#{$preview-card-height} * 4 + 125px)) {
      grid-template-areas: 'a a a a';
    }

    @media screen and (min-width: calc(#{$preview-card-height} * 5 + 150px)) {
      grid-template-areas: 'a a a a a';
    }
  }
}
