// Uses Global Default Styles in src/styles.scss
@import '../../sass/vars.scss';

main {
  .banner {
    display: none;

    &__title {
      color: $accent-color-1-dark;
      line-height: 1.5;
    }

    @media screen and (min-width: 500px) {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
      background-color: $light-gray-50;
    }
  }

  .article-collections {
    background-color: #fdfdfd;
    .collection-text {
      margin: $preview_card_gap 0 0;
      text-align: center;

      &_accent {
        color: $accent-color-1;
      }

      &_underline {
        color: $accent-color-1;
        text-decoration: underline;
      }
    }
  }
}
