.article-grid {
  display: grid;
  grid-template-columns: minmax(300px, 400px);
  grid-template-rows: auto;
  grid-gap: 24px;
  justify-content: center;
  margin: 0 auto;
  padding: 24px 0;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 300px);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 300px);
  }

  @media screen and (min-width: 1350px) {
    grid-template-columns: repeat(4, 300px);
  }
}
