<main>
  <h2 class="headline">Wise Ape's profile</h2>
  <article class="main-card">
    <section class="pic">
      <!-- <img
          src="https://firebasestorage.googleapis.com/v0/b/cosourcery.appspot.com/o/profileImages%2FXb8LjcdbBhhzbsmb9TWarfYx6SK2?alt=media&token=05992704-2731-47a5-a338-c92a1fbe98f1"
          alt=""
        /> -->
      <img
        src="https://firebasestorage.googleapis.com/v0/b/cosourcery.appspot.com/o/profileImages%2FRGkcnuAnlGYsKuooNuNGELuJjSh2?alt=media&token=e38641c3-2acb-4e80-9490-e6f191210193"
        alt=""
      />
    </section>
    <section class="basics">
      <section class="profile-basics first-name">
        <p>First Name:</p>
        <h5>Jacob</h5>
      </section>
      <section class="profile-basics last-name">
        <p>Last Name:</p>
        <h5>Johnston</h5>
      </section>
      <section class="profile-basics alias">
        <p>Alias:</p>
        <h5>Wise Ape</h5>
      </section>
    </section>
  </article>
  <section class="bio">
    <p>
      I'm the other Jacob (and the same Jacob) and the other account (not the
      same account) because while building this tool, it's convenient to have
      multiple accounts for testing, and I just ended up using them both in
      production because heh... well nobody else uses the site yet right? The
      other me is here:
      https://cosourcery.com/profile/0mFB3CHrY5ObHmxrD6SRQIEUbv73
    </p>
  </section>
</main>
