// Uses Global Default Styles in src/styles.scss
@import '../../../sass/vars.scss';

.preview-card {
  background: #fff;
  box-shadow: 0 2px 5px $light-gray-50;
  transition: box-shadow 0.25s;

  // TODO: Add some better background, shadow, or other to help connect the bottom banner to the card content on mobile.

  &:hover {
    box-shadow: 0 4px 10px $dark-gray-50;

    .card-icons {
      background-color: $primary-color;
    }
  }
}

.card-content {
  height: 400px;
  padding: 20px 20px 0;

  &__image {
    height: 175px;
    width: 100%;
    display: block;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 0;
    color: $primary-color;
    font-size: 1.375rem;
  }

  &__date {
    margin-top: 5px;
    color: $medium-gray;
    font-size: 0.875rem;
  }
}

.card-icons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: gray;

  .icon-set-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;

    .counter-icons {
      &__item {
        justify-self: center;
        font-size: 0.75em;
        display: inline-flex;
        height: 40px;
        align-items: center;
        cursor: default;

        mat-icon {
          color: rgb(150, 150, 150);
          height: 15px;
        }

        .highlighted {
          color: #FFD80E
        }

      }
          &:hover .mat-icon-btn__tooltip {
            visibility: visible;
          }

    }
  }
}

.bookmark-icon {
  cursor: pointer;
}
