// Uses Global Default Styles in src/styles.scss
@import '../../../sass/vars.scss';

$content-height: 226px;
$img-height: 160px;
$title-height: 50px;
$date-height: 16px;

.preview-card {
  width: $preview-card-height;
  height: $preview-card-height;

  display: grid;
  grid-template-rows: $content-height 1fr;

  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.25s;

  // TODO: Add some better background, shadow, or other to help connect the bottom banner to the card content on mobile.

  &:hover {
    box-shadow: 0 4px 10px $dark-gray-50;
  }

  .card-content {
    width: $preview-card-height;
    height: $content-height;
    display: grid;
    grid-template-rows: $img-height $title-height $date-height;

    img {
      object-fit: cover;
      height: $img-height;
      width: 100%;
    }

    .title {
      h2 {
        margin: 5px 16px;
        font-weight: 800;
        color: $dark-gray;
        font-size: 18px;
      }
    }

    .date-updated {
      margin: 0 16px;
      font-size: 0.74em;
      p {
        color: $accent-color-1-dark;
        margin: 0;
        font-weight: 600;
      }
    }
  }
}
