<article class="preview-card">
  <a [routerLink]="linkTo">
    <section class="card-content">
      <img
        class="card-content__image"
        [src]="
          coverImageUrl !== '' ? coverImageUrl : '../../assets/images/logo.svg'
        "
        [alt]="articleData.imageAlt ? articleData.imageAlt : 'Cover Image'"
      />
      <h2 class="card-content__title">
        {{ articleData.title }}
      </h2>
      <p class="card-content__date">
        Last Updated: {{ articleData?.lastUpdated | date }}
      </p>
      <p>{{ articleData.introduction | truncateString: 140 }}</p>
    </section>
  </a>

  <cos-preview-card-stats [articleData]="articleData"></cos-preview-card-stats>
</article>
