<main class="preview-card">
  <a [routerLink]="linkTo">
    <section class="card-content">
      <img
        [src]="
          coverImageUrl !== '' ? coverImageUrl : '../../assets/images/logo.svg'
        "
        [alt]="article.imageAlt ? article.imageAlt : 'Cover Image'"
      />
      <section class="title">
        <h2>
          {{ article.title | truncateString: 38 }}
        </h2>
      </section>
      <section class="date-updated">
        <p>Updated {{ article?.lastUpdated | timeElapsed }}</p>
      </section>
    </section>
  </a>

  <cos-preview-card-stats [articleData]="article"></cos-preview-card-stats>
</main>
