<main class="preview-card">
  <a [routerLink]="linkTo">
    <section class="card-content">
      <img
        [src]="
          coverImageUrl !== '' ? coverImageUrl : '../../assets/images/logo.svg'
        "
        [alt]="articleData.imageAlt ? articleData.imageAlt : 'Cover Image'"
      />
      <section class="title">
        <h2>
          {{ articleData.title | truncateString: 38 }}
        </h2>
      </section>
      <section class="date-updated">
        <p>Updated {{ articleData?.lastUpdated | timeElapsed }}</p>
      </section>
      <!-- <p>{{ articleData.introduction | truncateString: 140 }}</p> -->
    </section>
  </a>

  <cos-preview-card-stats [articleData]="articleData"></cos-preview-card-stats>
</main>
