<section
  class="article-body__interior"
  [ngClass]="{ border: isActive, 'is-editable': isEditable }"
  matTooltip="Pro tip: click the pencil-icon button to the right then double-click or select something for options."
  matTooltipPosition="above"
>
  <button
    class="mat-icon-btn"
    *ngIf="isEditable"
    [ngClass]="{ active: isActive }"
    type="button"
    (click)="toggleCtrl()"
  >
    <mat-icon>{{ isActive ? 'clear' : 'edit' }}</mat-icon>
    <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">{{
      isActive ? 'Close Body' : 'Edit Body'
    }}</span>
  </button>
  <!-- Originally needed for SSR not sure about with quill -->
  <!-- <article *ngIf="!isBrowser" [innerHTML]="body"></article> -->
  <!-- <quill-editor
  *ngIf="isBrowser && articleId" -->

  <quill-editor
    *ngIf="!!quillModules"
    theme="bubble"
    [(ngModel)]="body"
    [modules]="quillModules"
    (onEditorCreated)="onEditorCreated($event)"
    (onContentChanged)="changeBody($event)"
    (onSelectionChanged)="testEvent($event)"
  ></quill-editor>
</section>
