<section
  class="article-body__interior"
  [ngClass]="{ border: isActive, 'is-editable': isEditable }"
>
  <button
    class="mat-icon-btn"
    *ngIf="isEditable"
    [ngClass]="{ active: isActive }"
    type="button"
    (click)="toggleCtrl()"
  >
    <mat-icon>{{ isActive ? 'clear' : 'edit' }}</mat-icon>
    <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">{{
      isActive ? 'Close Body' : 'Edit Body'
    }}</span>
  </button>
  <!-- Hacky: applying ckEditor classes to get styles -->
  <article
    class="ck ck-editor__editable_inline"
    *ngIf="!isBrowser"
    [innerHTML]="body"
  ></article>
  <textarea onchange="changeBody($event)" cols="30" rows="30">{{
    body
  }}</textarea>
  <!-- <cos-body-edit
    *ngIf="isBrowser && articleId"
    (onBodyChange)="changeBody($event)"
    [body]="body"
    [isActive]="isActive"
    [articleId]="articleId"
  ></cos-body-edit> -->
</section>
