<section class="profile">
  <h2 class="profile__title">Profile</h2>
  <div class="profile__info-wrapper">
    <div class="top-btn-wrapper">
      <button *ngIf="canEdit" class="cos-btn" type="button" (click)="edit()">
        Edit
      </button>
    </div>
    <form *ngIf="user" class="profile-card">
      <div class="profile-card__input-group">
        <section class="profile-image">
          <img
            class="profile-image__src"
            [src]="
              user.imageUrl ? user.imageUrl : '../../assets/images/logo.svg'
            "
            alt="Profile Image"
          />
        </section>

        <div>
          <div class="profile-card__input">
            <h5>First Name</h5>
            <p>{{ user.fName }}</p>
            <cos-field-edit-button
              class="edit-button"
              [isActive]="isCtrlActive('fName')"
              tooltipName="First Name"
              (clicked)="toggleCtrl('fName')"
            ></cos-field-edit-button>
          </div>

          <div class="profile-card__input">
            <h5>Last Name</h5>
            <p>{{ user.lName }}</p>
            <cos-field-edit-button
              class="edit-button"
              [isActive]="isCtrlActive('fName')"
              tooltipName="First Name"
              (clicked)="toggleCtrl('fName')"
            ></cos-field-edit-button>
          </div>

          <div class="profile-card__input">
            <h5>Alias</h5>
            <p>{{ user.alias }}</p>
            <cos-field-edit-button
              class="edit-button"
              [isActive]="isCtrlActive('fName')"
              tooltipName="First Name"
              (clicked)="toggleCtrl('fName')"
            ></cos-field-edit-button>
          </div>
        </div>
      </div>

      <div class="profile-card__input">
        <h5>Bio</h5>
        <p>{{ user.bio }}</p>
        <cos-field-edit-button
          class="edit-button"
          [isActive]="isCtrlActive('fName')"
          tooltipName="First Name"
          (clicked)="toggleCtrl('fName')"
        ></cos-field-edit-button>
      </div>

      <div class="profile-card__input-group">
        <div class="profile-card__input">
          <h5>City</h5>
          <p>{{ user.city }}</p>
          <cos-field-edit-button
            class="edit-button"
            [isActive]="isCtrlActive('fName')"
            tooltipName="First Name"
            (clicked)="toggleCtrl('fName')"
          ></cos-field-edit-button>
        </div>

        <div class="profile-card__input">
          <h5>State</h5>
          <p>{{ user.state }}</p>
          <cos-field-edit-button
            class="edit-button"
            [isActive]="isCtrlActive('fName')"
            tooltipName="First Name"
            (clicked)="toggleCtrl('fName')"
          ></cos-field-edit-button>
        </div>

        <div class="profile-card__input">
          <h5>Zip Code</h5>
          <p>{{ user.zipCode }}</p>
          <cos-field-edit-button
            class="edit-button"
            [isActive]="isCtrlActive('fName')"
            tooltipName="First Name"
            (clicked)="toggleCtrl('fName')"
          ></cos-field-edit-button>
        </div>
      </div>
    </form>
  </div>
  <!-- Profile Contributions -->
  <div *ngIf="user" class="profile__contributions-wrapper">
    <cos-profile-contributions
      [profileId]="user.uid"
    ></cos-profile-contributions>
  </div>
</section>
