<article class="preview-card">
  <a
    [routerLink]="
      '/article/' +
      articleVersionData.slug +
      '/history/' +
      articleVersionData.version
    "
  >
    <section class="card-content">
      <img
        class="card-content__image"
        [src]="
          coverImageUrl !== '' ? coverImageUrl : '../../assets/images/logo.svg'
        "
        [alt]="
          articleVersionData.imageAlt
            ? articleVersionData.imageAlt
            : 'Cover Image'
        "
      />
      <h2 class="card-content__title">
        {{ articleVersionData.title | truncateString: 20 }}
      </h2>
      <p class="card-content__date">
        Last Updated: {{ articleVersionData?.lastUpdated | date }}
      </p>
      <p>{{ articleVersionData.introduction | truncateString: 100 }}</p>
    </section>
  </a>

  <cos-preview-card-stats
    [articleData]="articleVersionData"
  ></cos-preview-card-stats>
</article>
